# Ignore Visual Studio specific files and directories
.vs/*
Calo4U_GUI/.vs/*
Calo4U_Sisa/.vs/*
Calo4U_GUI/bin/*
Calo4U_GUI/obj/*
Calo4U_Sisa/bin/*
Calo4U_Sisa/obj/*
Vaatimusmäärittely
UML
Tuntiseuranta
Pöytäkirjat
